
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.a (из представления);
        <p>Notes</p>
        @Html.ActionLink("Форма", "Form")
    </div>
</body>
</html>
